
*.rpyb
*.rpyb
*.rpyb
*.rpyc
*.save
*.save
*.rpyc
*.rpyb
*.txt
game/saves/persistent
*.rpyc
*.rpyc
*.save
*.rpyb
*.bak
*.rpyb
game/saves/persistent
*.rpymc
log.txt
*.save
*.rpyb
*.json
game/saves/persistent
log.txt
*.save
game/saves/persistent
